@model website_negaheno.Areas.Admin.ViewModels.GalleryPageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Index</h2>

<div class="searchbar">
    <div class="col-xs-3">
        @using (Ajax.BeginForm("Index", "ArtGallery", new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "gallery_table"

    }))
        {
            @*@Html.TextBox("filter", (string)ViewBag.filter, new { @class = "txt_search", @placeholder = "Search..." })*@
            
            <div class="input-group">
                @Html.TextBoxFor(model => model.search_pagination_params.filter, new { @class = "txt_search", @placeholder = "Search...", id = "filter" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-search"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        }
    </div>
    <div class="col-xs-3 col-xs-offset-6 ">
        <a href="#" role="button" id="btn-add-new">
            <i class="glyphicon glyphicon-plus-sign"></i> Add New Art Gallery
        </a>

    </div>
</div>

<div id="gallery_table">
    @{Html.RenderPartial("_PartialGalleryList", Model.paged_list_artGallery);}

</div>