.topbar {
  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
}
.topbar .topbar-left {
  float: left;
  position: relative;
  width: 180px;
  z-index: 1;
  background-color: #ffffff;
}
.topbar .topbar-left-sm {
  width: 180px;
}
.logo {
  color: #435966 !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 60px;
}
 .logo:hover {
    text-decoration:none;
    }
.logo h1 {
  height: 50px;
  margin: 0px auto;
  text-align: center;
}
.logo i {
  color: #435966;
}
.logo .icon-c-logo {
  display: none;
}

.navbar-default {
  /*background-color: #fe6271;*/
  background-color:#d73638;
  border-radius: 0;
  box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.08);
  border: none;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > .open > a {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-default .badge {
  position: absolute;
  top: 12px;
  right: 7px;
}
.nav > li > a {
  color: #f5f5f5 !important;
  line-height: 60px;
  padding: 0px 15px;
  position: relative;
}
.nav > li > a i {
  font-size: 16px;
}
.profile img {
  border: 2px solid #f5f5f5;
  height: 36px;
  width: 36px;
}
.dropdown-menu-lg {
  width: 300px;
}
.dropdown-menu-lg .list-group {
  margin-bottom: 0px;
}
.dropdown-menu-lg .list-group-item {
  border: none;
  padding: 10px 20px;
}
.dropdown-menu-lg .media-heading {
  margin-bottom: 0px;
}
.dropdown-menu-lg .media-body p {
  color: #828282;
}
.navbar-nav {
  margin: 0;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 180px;
  z-index: 2;
  background: #ffffff;
}
.side-menu.left {
  box-shadow: 0 8px 42px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 60px;
}
body.fixed-left .side-menu.left {
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 70px;
  position: fixed;
}
.content-page {
  margin-left: 180px;
  overflow: hidden;
}
.content-page > .content {
  margin-top: 60px;
  padding: 20px 5px 15px 5px;
}
.button-menu-mobile {
  background: transparent;
  border: none;
  color: #f5f5f5;
  font-size: 21px;
  line-height: 60px;
  padding: 0 15px;
}
.button-menu-mobile:hover {
  color: #ffffff;
}
.sidebar-inner {
  height: 100%;
}
#sidebar-menu,
#sidebar-menu ul,
#sidebar-menu li,
#sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;

}
#sidebar-menu {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  text-align: center;
}
#sidebar-menu .waves-effect .waves-ripple {
  background-color: rgba(254, 98, 113, 0.45);
}
#sidebar-menu .nav > li > a .badge {
  position: absolute;
  right: 10px;
  top: 12px;
}
#sidebar-menu a {
  line-height: 1.3;
}
#sidebar-menu ul ul {
  display: none;
}
#sidebar-menu ul ul li {
  border-top: 0;
}
#sidebar-menu ul ul li.active a {
  color: #06080a;
}
#sidebar-menu ul ul a {
  color: rgba(67, 89, 102, 0.8);
  display: block;
  padding: 10px 20px;
}
#sidebar-menu ul ul a:hover {
  color: #435966 !important;
}
#sidebar-menu ul ul a i {
  margin-right: 5px;
}
#sidebar-menu ul ul ul a {
  padding-left: 40px;
}
#sidebar-menu .label {
  display: none;
}
#sidebar-menu .subdrop {
  color: #435966 !important;
}
#sidebar-menu > ul > li > a {
  color: rgba(67, 89, 102, 0.9);
  display: block;
  padding: 15px 20px;
  margin: 4px 0;
  font-size: 15px;
}
#sidebar-menu > ul > li > a:hover {
  color: #435966 !important;
  text-decoration: none;
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}
#sidebar-menu ul li a i {
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
#sidebar-menu ul li a i.md {
  font-size: 18px;
}
#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}
#sidebar-menu > ul > li > a.active {
  color: #d73638 !important;
}
.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  background-color: rgba(238, 238, 238, 0.5);
}
#wrapper.enlarged .menu-title,
#wrapper.enlarged .menu-arrow {
  display: none !important;
}
#wrapper.enlarged #sidebar-menu ul ul {
  margin-top: -4px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}
#wrapper.enlarged .left.side-menu {
  width: 70px;
  z-index: 5;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu > ul > li > a i {
  margin-left: 6px;
  font-size: 20px;
  float: left;
}
#wrapper.enlarged .left.side-menu .label {
  display: none !important;
  padding: .3em .6em .2em !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
  position: relative;
  white-space: nowrap;
  max-height: 49px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
  position: relative;
  width: 260px;
  background: #f2f2f2;
  color: #435966;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a {
  background: #ffffff;
  color: #435966;
  box-shadow: none;
  padding-left: 15px;
  position: relative;
  width: 186px;
  text-align: left;
  z-index: 6;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
  color: #fe6271;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover a span {
  display: inline;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > ul {
  display: none;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li:hover > ul {
  display: block;
  left: 190px;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li > a span.pull-right {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
  color: #fe6271;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul a:hover {
  color: #fe6271 !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
  display: none;
  padding-left: 10px;
}
#wrapper.enlarged .left.side-menu .user-details {
  display: none;
}
#wrapper.enlarged .content-page {
  margin-left: 70px;
}
#wrapper.enlarged .footer {
  left: 70px;
}
#wrapper.enlarged .topbar .topbar-left {
  width: 70px !important;
}
#wrapper.enlarged .topbar .topbar-left .logo span {
  display: none;
  opacity: 0;
}
#wrapper.enlarged .topbar .topbar-left .logo .icon-c-logo {
  display: block;
  line-height: 60px;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.open :after {
  display: none;
}
#wrapper.enlarged #sidebar-menu > ul > li:hover > a.active :after {
  display: none;
}
