

/**********Navbar*/
.main_logo {
width:auto;
height:200px;
z-index:999999;
position:relative;
}

.text-danger {
   font-size:9pt;
}

.form-label {
color:#525145 !important;
font-size:11pt;
}

/****LOGIN******/
.login {
    padding:5%;
}
#login_container {
    float:right;
    width:100%;
    border:1px solid #b7b5b5;
    background-color:#f7f19b;
    border-radius:5px;
    padding:10% 0 10% 0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.login-header {
 background-color:#a0381d;
    border-radius:5px;
    color:#e4de89;
    height:50px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    padding:4% 0 0 0;
    font-weight:bold;
    text-align:center;
}
.btn-login {
    background-color:#a0381d;
    color:#e4de89;
    width:100%;
}

.btn-login:hover,.btn-login:focus {
 cursor: pointer;
 color: #f5ed86 !important;
}

.topbuffer-10 {
    margin-top:10px;
}
.topbuffer-20 {
    margin-top:20px;
}
.topbuffer-50 {
    margin-top:50px;
}
.nopadding {
    padding:0;
}




