@{
    ViewBag.Title = "درباره نگارخانه نگاه نو";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}

<div class=" col-sm-10 col-sm-offset-1 clients-area center wow fadeInDown" data-wow-duration="2000ms" >
    <h2>درباره نگارخانه نگاه نو</h2>
    <p class="lead">
        <strong>گالری نگاه نو</strong>
         در سال ١٣٩٢ توسط آقای بابک شکرانی و خانم پریسا مهزاد با نمایشگاهی
         از هنرمندان مطرح کشور اساتید اکبر مصری پور ،محمد علی حدت ، مهرداد صدری , احمد مطیع افتتاح گردید.
        <br />
        <strong>هدف ما</strong> 
        برگزاری نمایشگاه هایی با کیفیت بالا هم از جهت نمایش با امکانات سخت افزاری مناسب، در مکانی زیبا و بزرگ
        و هم از جهت بخش فروش با همکاری کلکتور ها در راستای کمک به هنرمندان کشور است.
        <br />
        <strong>سایر فعالیت های ما</strong>
        <br />
 - برگزاری ورک شاپ های آموزشی با حضور اساتید مجرب کشور در رشته های مختلف برای علاقه مندان،
        <br />
        
        - برگزاری جشنواره هایی در رشته های هنر های تجسمی 
        و برگزیدن نفرات برتر توسط داوران گالری و معرفی هنرمندان جدید به جامعه هنری کشور .
    </p>
</div>
<div class="row wow fadeInDown" data-wow-duration="2000ms" data-wow-delay="1000ms">
    <div class="col-md-6">
        <div class="clients-comments text-center">
            <img src="~/images/babak.png" class="img-circle" alt="">
            <h3>آقای بابک شکرانی، کارشناسی گالری نگاه نو را از سال 1392 تاسیس نموده و هم اکنون مدیریت آن را برعهده دارد.</h3>
            <h4><span>بابک شکرانی </span>  مدیریت گالری نگاه نو</h4>
        </div>
    </div>
    <div class="col-md-6">
        <div class="clients-comments text-center">
            <img src="~/images/parisa.png" class="img-circle" alt="">
            <h3>خانم پریسا مهزاد با بیش از 20 سال سابقه فعالیت هنری در زمینه موسیقی و نقاشی، هم اکنون صاحب امتیاز گالری نگاه نو می باشد</h3>
            <h4><span>پریسا مهزاد </span>  مدیریت گالری نگاه نو</h4>
        </div>
    </div>
</div>

