@{
    ViewBag.Title = "تماس با نگارخانه نگاه نو";
    Layout = "~/Areas/Website/Views/Shared/_Layout.cshtml";
}

<section id="contact-info" class="wow fadeIn" data-wow-duration="2000ms" data-wow-delay="1000ms">
    <div class="center">
        <h2>با ما در تماس باشید</h2>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        @*<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=JoomShaper,+Dhaka,+Dhaka+Division,+Bangladesh&amp;aq=0&amp;oq=joomshaper&amp;sll=37.0625,-95.677068&amp;sspn=42.766543,80.332031&amp;ie=UTF8&amp;hq=JoomShaper,&amp;hnear=Dhaka,+Dhaka+Division,+Bangladesh&amp;ll=23.73854,90.385504&amp;spn=0.001515,0.002452&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=1073661719450182870&amp;output=embed"></iframe>*@
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26881.232503857467!2d51.72289850547848!3d32.62872048507232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzLCsDM3JzQzLjQiTiA1McKwNDInMTkuNCJF!5e0!3m2!1sfa!2sir!4v1472495555195" frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                </div>
                <div class="col-sm-7 map-content">
                    <ul class="row">
                  

                        <li class="col-sm-6">
                            <address>
                                <h5>آدرس 2</h5>
                                <p>
                                    خیابان قائم فراهانی (سپهسالار) ، کوچه گلستان 2،
                                    <br />
                                    کوی باغ ارم پلاک 44 گالری نگاه نو
                                </p>

                            </address>
                            <address>
                                <h5>پست الکترونیک</h5>
                                <p style="font-family:Arial">
                                    <span class="glyphicon glyphicon-envelope"></span> info@negahenoartgallery.ir
                                </p>

                            </address>
                        </li>

                        <li class="col-sm-6">
                            <address>
                                <h5>آدرس 1</h5>
                                <p>
                                    آبشار سوم خیابان مسرور
                                    <br />
                                    کوی باغ ارم(کوی شماره 3) پلاک 44 گالری نگاه نو
                                </p>

                            </address>
                            <address>
                                <h5>شماره تماس</h5>
                                <p>
                                    <span class="glyphicon glyphicon-earphone"></span> 03136304598 <br>
                                    <span class="glyphicon glyphicon-phone"></span> 09131864105 <br>
                                    <span class="glyphicon glyphicon-phone"></span> 09133270778 <br>

                                </p>

                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->

@Scripts.Render("~/bundles/indexJS")
